article.article {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;
  width: 100vw;
  /* max-width: 800px;
  margin: 0 auto; */
  padding: 2rem;
  /* font-family: Arial, sans-serif;
  line-height: 1.6;

  box-sizing: border-box; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  header {
    text-align: left;

    img {
      max-width: 50%;
      height: auto;
    }

    h1 {
      font-size: 2rem;
    }
  }

  div.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    img.authorImage {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      aspect-ratio: 1/1 !important;
      object-fit: contain !important;
      object-position: center;
      position: relative;
      z-index: 2;
      background-color: var(--primary-color);

      /* border inside FFFFFF 25% */
      /* border: 2px solid hsla(0, 0%, 100%, 0.25); */
    }

    span.authorName {
      font-weight: 700;
    }
  }

  div.articleInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    span span {
      font-weight: 700;
    }
  }

  div.content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    p {
      font-size: 1rem;
      line-height: 1.5;
      width: 64ch;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;

    /* h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    } */
  }
}
