section.blog {

  /* display: grid;
    place-items: center; */
  /* height: 100vh;
    width: 100vw; */
  background-color: var(--primary-color);
  color: var(--secondary-color);
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;

  width: 100%;
  padding: 2rem;

  /* h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  p {
    font-size: var(--font-size-md);
    text-align: center;
    color: var(--text-color-secondary);
    max-width: 800px;
    margin-bottom: 2rem;
  } */

  div.ArticleCards {
    /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 1rem;
      overflow-x: auto;
      width: 65vw;
      margin-bottom: 1rem;
      scroll-snap-type: x mandatory; */

    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: min(80vw, 75rem);
    overflow-x: auto;
    padding: 0 0 1rem;

    flex-wrap: wrap;

    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin; */

    /* header.ArticleCardsHeader {
      display: flex;
      justify-content: column !important;
      align-items: center;
      width: 100% !important;
      margin-bottom: 1rem;

      h2 {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        color: var(--text-color);
        display: block;
      }

      a {
        font-size: var(--font-size-md);
        color: var(--secondary-color);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    } */

    header.ArticleCardsHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      text-align: left;
      gap: 2rem;
      /* margin-bottom: 0rem; */

      p {
        font-size: var(--font-size-md);
        color: var(--secondary-color);
        margin: 0;
      }

      div.headerControls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-height: fit-content !important;

        div.searchContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;

          label.searchLabel {
            font-size: var(--font-size-md);
            color: var(--secondary-color);
            font-weight: 500;
          }

          input.searchInput {
            font-size: var(--font-size-md);
            color: var(--secondary-color);
            background-color: var(--primary-color);
            border: 1px solid #1E1E1E;
            background-color:
              /* light-dark(hsla(0, 0%, 98%, 0.8), */
              hsla(240, 2%, 8%, 0.8)
              /* ) */
            ;
            color: white;
            border-radius: 0.5rem;
            padding: 0.25rem 0.5rem;
            min-width: 25rem;

            &:focus {
              outline: none;
              border-color: #0070F3;
              /* box-shadow: 0 0 0 2px hsl(210, 100%, 50%, 0.2); */
            }
          }
        }

        div.showItemsContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5rem;
          min-width: fit-content;

          label.showItemsLabel {
            font-size: var(--font-size-md);
            color: var(--secondary-color);
          }

          select.showItemsSelect {
            font-size: var(--font-size-md);
            color: var(--secondary-color);
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            border-radius: 0.5rem;
            /* padding: 0.25rem 0.5rem; */
            cursor: pointer;
            border: 1px solid #1E1E1E;
            background-color:
              /* light-dark(hsla(0, 0%, 98%, 0.8), */
              hsla(240, 2%, 8%, 0.8)
              /* ) */
            ;
            color: white;

            font-weight: 500;

            /* outline: #0070F3; */

            /* &:focus {
                    outline: none;
                    border-color: var(--secondary-color);
                    box-shadow: 0 0 0 2px var(--secondary-color);
                  } */
          }
        }

        div.filterAndOrderContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5rem;
          margin-left: 0.5rem;

          div.filterContainer,
          div.orderContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

            label.filterLabel,
            label.orderLabel {
              font-size: var(--font-size-md);
              color: var(--secondary-color);
              min-width: fit-content;
            }

            select.filterSelect,
            select.orderSelect {
              font-size: var(--font-size-md);
              color: var(--secondary-color);
              background-color: var(--primary-color);
              border: 1px solid var(--secondary-color);
              border-radius: 0.5rem;
              /* padding: 0.25rem 0.5rem; */
              cursor: pointer;
              border: 1px solid #1E1E1E;
              background-color:
                /* light-dark(hsla(0, 0%, 98%, 0.8), */
                hsla(240, 2%, 8%, 0.8)
                /* ) */
              ;
              color: white;

              font-weight: 500;

              /* outline: #0070F3; */

              /* &:focus {
                      outline: none;
                      border-color: var(--secondary-color);
                      box-shadow: 0 0 0 2px var(--secondary-color);
                    } */
            }
          }
        }
      }
    }

    div.ArticleCard {
      /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        max-width: 16rem;
        flex: 0 0 100%;
        scroll-snap-align: start; */

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;

      flex: 0 0 calc((100% - 2rem) / 3.45);
      min-width: 0;

      scroll-snap-align: start;
      scroll-snap-stop: always;

      img {
        width: 16rem;
        height: auto;
        border-radius: 1rem;
        aspect-ratio: 6/7 !important;
        object-fit: cover;
        object-position: center;
        border: 1px solid #1E1E1E;
      }

      span.author {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.875rem;

        img.authorImage {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          aspect-ratio: 1/1 !important;
          object-fit: contain !important;
          object-position: center;
          position: relative;
          z-index: 2;
          background-color: var(--primary-color);

          /* border inside FFFFFF 25% */
          /* border: 2px solid hsla(0, 0%, 100%, 0.25); */
        }

        img.authorImage+img.authorImage {
          margin-left: -1.25rem;
          position: relative;
          z-index: 1;
        }
      }

      span.hashtags {
        font-size: 0.9rem;
        color: #888888;
        text-align: center;
        text-align: left;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        text-align: left;
        width: 100%;
        /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; */
      }

      p {
        /* font-size: 0.875rem; */
        color: var(--secondary-color);
        text-align: center;
        text-align: left;
      }

      a.readMoreLink {
        background-color: var(--secondary-color) !important;
        text-decoration: none;
        color: var(--primary-color) !important;
        padding: 0.5rem 1rem;
        border-radius: 1.5rem;
        font-size: 0.875rem;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.totalArticlesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* font-size: 0.875rem; */
    color: var(--secondary-color);
    /* margin-top: 1rem; */

    /* span {
      font-weight: var(--font-weight-bold);
      color: var(--text-color);
    } */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem; */
    /* width: 100% !important; */
    text-align: center;
    /* padding: 0.5rem; */
    margin-bottom: -1rem;

    span {
      /* font-size: 1rem; */
      color: light-dark(var(--details), var(--text-aux-color));
      text-align: center;
      /* min-width: 100% !important; */

      span {
        font-weight: 600;
      }
    }
  }

  div.blogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    width: 100%;
    max-width: 1200px;

    /* border: 1px solid var(--border-color); */
    border-radius: 1rem;
    padding: 2rem;

    /* background-color: */
    /* light-dark(hsla(0, 0%, 98%, 0.8), */
    /* hsla(240, 2%, 8%, 0.8) */
    /* ) */
    /* ; */

    div.ArticleCard {
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      border-radius: 1rem;

      /* background-color: */
      /* light-dark(hsla(0, 0%, 98%, 0.8), */
      /* hsla(240, 2%, 8%, 0.8) */
      /* ) */
      /* ; */

      h2 {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        color: var(--text-color);
        margin-bottom: 0.5rem;
      }

      p {
        font-size: var(--font-size-md);
        color: var(--text-color-secondary);
        margin-bottom: 1rem;
      }

      a.readMoreLink {
        color: var(--secondary-color) !important;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }
}
