section.contact {
  padding: 2rem;
  background-color: var(--background-secondary);
  color: var(--text-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  gap: 1rem;

  /* h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  } */

  div.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    /* background-color: red; */
    max-width: 70%;

    span {
      /* font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.5rem; */
      align-self: flex-start;
      font-weight: 600;
    }

    ul.contactList {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      /* max-width: 100%; */
      /* background-color: blue; */

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        a {
          text-decoration: none;
          color: var(--text-primary);
          /* font-weight: 600; */
          /* font-size: 1.1rem; */
          transition: color 0.3s ease;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          background-color: #131314;
          padding: 0.5rem 1rem;
          border-radius: 1.5rem;
          border: 1px solid #1E1E1E;
          background-color:
            /* light-dark(hsla(0, 0%, 98%, 0.8), */
            hsla(240, 2%, 8%, 0.8)
            /* ) */
          ;

          &:hover {
            color: var(--accent-color);
            text-decoration: underline;
            font-weight: 500;
          }
        }

        &:first-child a {
          background-color: white;
          color: black;
        }
      }
    }
  }
}

/* responsive design */
@media only screen and (max-width: 768px) {
  section.contact {
    padding: 1rem;

    div.contactInfo {
      max-width: 100% !important;
      width: 100% !important;
      gap: 0.5rem;

      span {
        align-self: center;
      }

      ul.contactList {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        /* width: 100%; */

        li {
          /* width: 100%; */
          display: flex;
          /* align-items: center; */

          a {
            /* justify-content: center; */
            white-space: nowrap;
            /* width: 100%; */
          }
        }
      }
    }
  }
}
