/* (mobile first) */
section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */

  margin-top: 2rem;

  img.icon {
    max-width: 10rem;
  }

  p {
    font-weight: 800;
    font-size: 1.5rem;
    width: 24ch;
    text-align: center;
    /* text-wrap: pretty; */
    /* overflow-wrap: break-word; */
  }

  p:last-of-type {
    font-weight: 500;
    font-size: 1.2rem !important;
    /* width: 32ch; */
  }

  /* span {
    text-align: center;
  } */

  h1,
  h2 {
    text-align: center;
  }

  div.ctaContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    gap: 1rem;
    padding: 1rem;

    a.cta {
      /* margin-top: 1rem; */
      padding: 0.75rem 1.5rem;
      /* background-color: #0070f3;
      color: white; */

      background-color: transparent;
      color: hsl(0, 0%, 100%);
      outline: 2px solid
        /* #1E1E1E  */
        hsl(0, 0%, 100%);
      /* #0070f3 */
      ;

      text-decoration: none;
      border-radius: 1.5rem;
      font-weight: 600;
      transition: background-color 0.3s ease;

      /* &:hover {
        background-color: #005bb5;
      } */

      /* &:hover {
        background-color: transparent;
        color: hsl(0, 0%, 100%);
        outline: 2px solid */
      /* #1E1E1E  */
      /* hsl(0, 0%, 100%); */
      /* #0070f3 */
      /* ;

        background-color: white;
        color: #000;
      } */
    }

    a.ctaAux {
      /* margin-top: 0.5rem; */
      padding: 0.5rem 1rem;
      padding: 0.75rem 1.5rem;
      background-color: transparent;
      /* color: #0070f3; */
      color: hsl(0, 0%, 100%);
      background-color: hsl(240, 3%, 8%);
      text-decoration: none;
      border: 2px solid
        /* #1E1E1E  */
        hsl(0, 0%, 100%);
      /* #0070f3 */
      ;

      background-color: white;
      color: #000;
      border-radius: 1.5rem;
      font-weight: 600;
      transition: background-color 0.3s ease, color 0.3s ease;

      /* &:hover {
          background-color: #0070f3;
          color: white;
        } */

      /* &:hover {
          background-color: hsl(0, 0%, 100%);
          background-color: hsl(240, 3%, 8%);
          color: #000;
        } */

      /* &:hover {
          background-color: transparent; */
      /* color: #0070f3; */
      /* color: hsl(0, 0%, 100%);
          background-color: hsl(240, 3%, 8%); */
      /* background-color: white; */
      /* color: #000; */
      /* } */
    }
  }

  div.ratingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* margin-top: 1rem; */

    span.rating {
      font-weight: 600;
      font-size: 1.2rem;
    }

    span.reviews {
      font-weight: 400;
      font-size: 1rem;
      color: hsl(0, 0%, 70%);
    }

    span.stars {
      color: #f5c518;
      /* Star color */
      font-size: 1.2rem;
    }
  }

  div.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    div.phone,
    div.email {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: hsl(240, 3%, 8%);
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      border: 2px solid #1E1E1E;
      border: 1px solid #1E1E1E;
      background-color:
        /* light-dark(hsla(0, 0%, 98%, 0.8), */
        hsla(240, 2%, 8%, 0.8)
        /* ) */
      ;

      a {
        font-weight: 500;
        font-size: 1rem;
        color: white
          /* hsl(0, 0%, 70%) */
        ;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  div.workStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

    span.workStatus {
      padding: 0.5rem 1rem;
      border-radius: 5rem;
      font-weight: 500;

      &:is(:first-child) {
        color: #0070F3
          /* var(--accent-color) */
        ;
        border: 1px solid #0070F3
          /* var(--accent-color) */
        ;
        background-color: hsla(212, 100%, 48%, 0.2)
          /* rgba(0, 123, 255, 0.1) */
        ;

        /*filter: drop-shadow(0 0 2em #0070F3);
        */
      }

      &:is(:last-child) {
        color: #9D00FF
          /* var(--accent-color) */
        ;
        border: 1px solid #9D00FF
          /* var(--accent-color) */
        ;
        background-color: hsla(270, 100%, 48%, 0.2)
          /* rgba(0, 123, 255, 0.1) */
        ;

        /*filter: drop-shadow(0 0 2em #9D00FF);
              */
      }
    }
  }
}

/* responsive design */
@media only screen and (min-width: 768px) {
  section.hero {
    img.icon {
      max-width: 14rem;
    }
  }
}
