/* (mobile first) */
section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */

  img.icon {
    max-width: 10rem;
  }

  p {
    font-weight: 800;
    font-size: 1.5rem;
    width: 24ch;
    text-align: center;
    /* text-wrap: pretty; */
    /* overflow-wrap: break-word; */
  }

  p:last-of-type {
    font-weight: 500;
    font-size: 1.2rem !important;
    /* width: 32ch; */
  }

  /* span {
    text-align: center;
  } */
}

/* responsive design */
@media only screen and (min-width: 768px) {
  section.hero {
    img.icon {
      max-width: 14rem;
    }
  }
}
