div.landing {
  /* display: grid;
  place-items: center; */
  /* height: 100vh;
  width: 100vw; */
  background-color: var(--primary-color);
  color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  gap: 2rem;
}

section {
  /* height: 100vh; */
  scroll-margin-top: var(--navbar-height, 8vh);
  /* padding: 2rem; */
}

/* accessibility: reduce motion for all animations */

@media (prefers-reduced-motion: no-preference) {
  /* smooth scroll */
  @supports (scroll-behavior: smooth) {
    html {
      scroll-behavior: smooth;
    }

    /* html,
    body {
      scroll-padding-top: 8vh; */
    /* scroll-snap-type: y mandatory; */
    /* } */

    /* [id] {
      scroll-snap-align: start;
    } */
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
