dialog.modal:modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: .5rem;
  /* padding: 1rem; */
  width: 32rem
    /* max-content */
  ;
  padding: 2rem;

  /* width: 100%;
  max-width: 24rem; */

  display: flex;
  flex-direction: column;
  border: 1px solid #1E1E1E;
  background-color:
    black;
  color: white;
  outline: none;
}

dialog.modal::backdrop {
  backdrop-filter: blur(1px);
  background-color: hsla(0, 0%, 0%, 0.5);
}

/* .modal-content {
  padding: 2rem;
} */

.closeModalXBtn {
  /* margin-top: 1rem; */
  padding:
    /* 0.75rem  */
    1rem;
  cursor: pointer;
  /* border-radius: 5rem */
  /* 0.5rem */
  /* ; */
  border: none;
  /* background: white; */
  color: white;
  font-weight: bold;
  font-size: 2rem;

  /* margin-top: auto; */
  align-self: flex-end;


  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

/* button.closeModalBtn {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background: white;
  color: black;
  font-weight: bold;

  margin-top: auto;
  align-self: flex-end;
} */

/* @keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
} */
