nav.navbar {
  /* height: 8vh; */
  position: sticky;
  top: 0 !important;
  padding: 1rem 2rem;
  border-bottom: 1px solid
    /* light-dark(#eaeaea, #18181B) */
    /* solid var(--details) */

    /* light-dark(hsl(0, 0%, 12%),  */
    hsl(0, 0%, 12%)
    /* ) */
  ;
  backdrop-filter: blur(8px);
  /* background-color: rgba(250, 250, 250, 0.8); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;

  background-color:
    /* light-dark(hsla(0, 0%, 98%, 0.8), */
    /* hsla(240, 2%, 8%, 0.8) */
    hsla(0, 0%, 0%, 0.8)
    /* ) */
  ;

  width: 100%;
  /* position: fixed; */
  /* top: 0; */

  a.navbarLink {

    /* capitalize */
    text-transform: capitalize;

    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    /* border-bottom: 1px solid var(--accent-color); */
    font-weight: bold;

    grid-column: 1
      /*  / 2 */
    ;
    justify-self: start;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration: underline;
        /* border-bottom: 1px solid var(--accent-color);
            */
      }
    }

    position: absolute;
    left: 2rem;

    img.icon {
      height: 1.5rem;
      width: auto;
      margin-right: 0.5rem;
    }
  }

  img.logo {
    height: 1.5rem;
    width: auto;
    /* object-fit: contain; */
    transition: all 0.3s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  nav.navbar {
    padding: 1.5rem;
  }
}
