section.qna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* gap: 2rem; */

  header.header {
    /* margin-bottom: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64ch;
    text-align: center;

    /* h2 {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-secondary);
      text-align: center;
    } */
  }

  div.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    details {
      width: 100%;
      /* border: 1px solid */
      /* #d1d5db */
      /* #eaeaea; */
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      max-width: 64ch;
      text-wrap: pretty;
      overflow-wrap: break-word;
      text-align: left;
      transition: background-color 0.3s ease;

      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* font-size: 0.7em; */
        font-weight: 600;
        list-style: none;
        gap: 0.5rem;

        &::after {
          content: ">";
          /* font-size: 1.5em; */
          /* color: #4B5563; */
          /* color: var(--accent-color); */
        }

        @media (hover: hover) and (pointer: fine) {

          &:focus,
          &:hover {
            color: var(--accent-color);

            /* &::after {
                color: var(--primary-color);
              } */
          }
        }
      }

      p {
        /* font-size: 0.6em; */
        /* font-weight: 400; */
        margin-top: 1rem;
        color: var(--text-aux-color);
      }

      &[open] {

        summary {
          color: var(--accent-color);
          transition: color 0.3s ease;
        }

        summary::after {
          content: "⌃";
          color: var(--accent-color);
        }
      }

      /* hide safari arrow */
      ::-webkit-details-marker {
        display: none;
      }
    }

    ::details-content {
      transition: all 0.3s ease-in-out, content-visibility 0.3s allow-discrete;
      height: 0;
      overflow: clip;
    }

    [open]::details-content {
      height: auto;
    }

    details.questionItem.visible {
      display: block;
    }

    details.questionItem.hidden {
      display: none;
    }
  }

  footer {
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;

    a {
      text-decoration: none;
      color: var(--accent-color);
      font-weight: 600;
      font-size: 1rem;
      transition: color 0.3s ease;
      margin-left: 0.5rem;

      padding: 0.5rem 1rem;
      border: 2px solid black;
      border-radius: 5rem;
      background-color: white;
      color: white;
      font-weight: 600;
      font-size: 0.875rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;


      background-color:
        /* light-dark(hsla(0, 0%, 98%, 0.8), */
        hsla(240, 2%, 8%, 0.8)
        /* ) */
      ;

      /* @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: var(--primary-color);
        }
      } */
    }

    button.viewAllButton {
      margin-left: auto;
      padding: 0.5rem 1rem;
      border: 2px solid black;
      border-radius: 5rem;
      background-color: white;
      color: black;
      font-weight: 600;
      font-size: 0.875rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    /* span {
      font-size: 0.8rem;
      color: var(--text-aux-color);
      max-width: 32ch;
      text-align: center;
    } */
  }
}

/* responsive design (mobile first) */

@media only screen and (max-width: 768px) {
  section.qna {
    text-align: center;

    header.header {
      max-width: 32ch;
    }

    div.questions {
      gap: 0.5rem;

      details {
        max-width: 32ch;

        summary {
          @media(hover: hover) and (pointer: fine) {
            &:hover {
              color: var(--accent-color);
            }
          }
        }
      }

    }

    footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 0rem;

      span {
        margin: 0;
        width: 100%;
        text-align: center;
        order: 2;
      }

      a {
        margin-left: 0;
        order: 3;
      }

      button.viewAllButton {
        margin-left: 0;
        order: 1;
      }
    }
  }
}
